$avatar-border-color: #A1A1A1;
$big-avatar-border-width: 2px;
$small-avatar-border-width: 0px;
$big-avatar-width: 128px;
$big-avatar-height: 128px;
$display-name-color: #0e0e0e;
$display-name-line-height: 20px;
$hr-small: 250px;
